._ {
  padding: 0 80px;
  margin-top: 24px;

  &wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto;
    height: auto;
  }

  &header {
    display: grid;
    grid-template-columns: 16fr 20fr 20fr 20fr;
    text-align: right;
    padding: 12px;
    background-color: greenyellow;
    font-size: 24px;
    font-weight: 500;

    & div:first-child {
      text-align: left;
    }
  }

  &list {
    margin-top: 12px;
  }
}

.coin {
  display: grid;
  grid-template-columns: 16fr 20fr 20fr 20fr;
  grid-gap: 20px;
  text-align: right;
  padding: 12px;
  font-size: 20px;
  font-weight: 500;

  &_name {
    display: flex;
    align-items: center;

    & > img {
      max-width: 38px;
    }

    & > span {
      margin-left: 12px;
    }
  }
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;

  &_item {
    padding: 12px 18px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

    &.current {
      color: indianred;
    }

    &:hover {
      border-radius: 100%;
      border: 1px solid #000000;
    }
  }
}