._ {
  padding: 0 80px;
}

.list {
  display: flex;
  justify-content: center;
}

.coin {
  user-select: none;
  cursor: pointer;
  padding: 0 20px;

  &:not(&:first-child) {
    margin-left: 12px;
  }
}

.icon {
  & > img {
    max-width: 120px;
  }
}